/* FOOTER */
/* ***** */

footer{

    display: flex;
    flex-direction: column;
    
    
}

.links{

    display: flex;
    flex-direction: column;
}
.social{

    flex-grow: 1;
    
}

.social__twitter{

}


.menu{

    flex-grow: 6;
}

.copy{

    text-align: center;
    padding: 20px;
}

.footer__texto{

    text-align: center
    
}

